<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>Taylor Swift</title>
  <script src="../js/modernizr.min.js"></script>
  <link rel="stylesheet" href="../css/basic.css" />
</head>

<body>
  <header>
    <img src="../images/0.png" alt="Taylor Swift" />
    <nav>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="photos.html">Photos</a></li>
        <li><a href="live.html">Live</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <article>
    <h1>About Taylor.Swift</h1>
    <nav>
      <ul>
        <li>
          <a href="#biography" onclick="showSection('biography')">Biography</a>
        </li>
        <li>
          <a href="#artistry" onclick="showSection('artistry')">Artistry</a>
        </li>
      </ul>
    </nav>
    <section id="biography" style="display:none">
      <h2>Biography</h2>
      <p>1989–2003: Early life</p>
      <p>Taylor Alison Swift was born on December 13, 1989, in Reading, Pennsylvania. Her father, Scott Kingsley Swift, is a
        financial advisor, and her mother, Andrea Gardner (Finlay) Swift, is a homemaker who previously worked as a mutual
        fund marketing executive. She has a younger brother named Austin. Swift spent the early years of her life on a Christmas
        tree farm in Cumru Township, Pennsylvania. She attended preschool and kindergarten at the Alvernia Montessori School,
        run by Franciscan nuns, before moving to the Wyndcroft School. The family then moved to a rented house in the suburban
        town of Wyomissing, Pennsylvania, where she attended Wyomissing Area Junior/Senior High School.</p>
      <p>At the age of nine, Swift became interested in musical theater and performed in four Berks Youth Theatre Academy productions
        She also traveled regularly to Broadway for vocal and acting lessons. Swift later shifted focus toward country music
        inspired by Shania Twain's songs, which made her "want to just run around the block four times and daydream about
        everything".</p>
    </section>
    <section id="artistry" style="display:none">
      <h2>Artistry</h2>
      <p>Musical style</p>
      <p>Swift's music contains elements of pop, pop rock and country. She self-identified as a country artist until the 2014
        release of 1989, which she described as a "sonically cohesive pop album". Rolling Stone asserted that, "[Swi might
        get played on the country station, but she's one of the few genuine rock stars we've got these days".[1 The New York
        Times noted that, "There isn't much in Ms. Swift's music to indicate country—a few banjo strums, a pair of cowboy
        boots worn onstage, a bedazzled guitar—but there's something in her winsome, vulnerable delivery that's unique to
        Nashville." The Guardian has said that Swift "cranks melodies out with the pitiless efficiency of a Scandinavian
        pop factory."</p>
      <p>Swift's vocals has been described by Sophie Schillaci from The Hollywood Reporter as "sweet, but soft".[1 In studio
        recordings, the Los Angeles Times identifies Swift's "defining" vocal gesture as "the line that slides down like
        a contented sigh or up like a raised eyebrow, giving her beloved girl-time hits their air of easy intimacy".</p>
    </section>


    <h1>1989</h1>

    <p id="intro">
      Welcome to the official website of Taylor Swift. Here,you can <a href="about.html" title="About">learn more about she</a>,
      view <a href="photos.html" title="Photos">photos of she</a>, find out about <a href="live.html" title="Tour Date">tour dates</a>      and <a href="contact.html" title="Contact">get in touch with she</a>.
    </p>
  </article>


  <script src="../js/addLoadEvent.js"></script>
  <script src="../js/global.js"></script>
</body>

</html>