<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Taylor Swift</title>
  <script src="../js/modernizr.min.js"></script>
  <link rel="stylesheet" href="../css/basic.css"/>
</head>
<body>
<header>
  <img src="../images/0.png" alt="Taylor Swift"/>
  <nav>
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="photos.html">Photos</a></li>
      <li><a href="live.html">Live</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</header>

<article>
  <h1>1989</h1>

  <p id="intro">
    Welcome to the official website of Taylor Swift.
    Here,you can <a href="about.html" title="About">learn more about she</a>,
    view <a href="photos.html" title="Photos">photos of she</a>,
    find out about <a href="live.html" title="Tour Date">tour dates</a>
    and <a href="contact.html" title="Contact">get in touch with she</a>.
  </p>
</article>


<script src="../js/addLoadEvent.js"></script>
<script src="../js/global.js"></script>
</body>
</html>